body, table {
    font-family: Arial,Helvetica,sans-serif;
}
input, textarea, select {
}
textarea {
}
select {
}
input {
}
fieldset {
    border: 0 none;
}
.iceInpTxt, .iceInpSecrt, .iceInpTxtArea {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 2px;
    padding: 2px;
}
.iceSelMnyCb {
    white-space: nowrap;
}
.iceSelMnyCb input, .iceSelOneRb input, .iceSelBoolChkbx {
    margin: 2px;
    padding: 2px;
}
.iceSelOneRb table tr td {
    padding: 1px;
}
.iceInpTxt, .iceInpSecrt {
    font-family: Arial,Helvetica,sans-serif;
    padding: 2px;
}
.iceSelOneMnu, .iceSelMnyLb, .iceSelMnyMnu, .iceSelOneLb {
    font-family: Arial,Helvetica,sans-serif;
    margin: 2px;
    padding: 2px;
}
.iceInpTxtArea {
    font-family: Arial,Helvetica,sans-serif;
    padding: 2px;
}
.iceCmdLnk, .iceOutLnk {
    color: #333333;
    font-weight: normal;
    text-decoration: none;
}
.iceOutTxt, .iceOutLbl {
    font-family: Arial,Helvetica,sans-serif;
    padding: 2px 0;
}
.iceCmdBtn {
    font-family: Arial,Helvetica,sans-serif;
}
.iceSelInpDate {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
}
.iceSelInpDateIFrameFix, .iceIEIFrameFix {
    display: block;
    position: absolute;
    z-index: -1;
}
.iceSelInpDatePopup {
    min-width: 172px;
}
.iceSelInpDateInput {
    margin: 2px;
    width: 150px;
}
.iceSelInpDateOpenPopup, .iceSelInpDateOpenPopup-dis {
    background-color: transparent;
    background-image: url("./css-images/cal_button.gif");
    background-repeat: no-repeat;
    border: medium none;
    display: inline;
    height: 16px;
    text-align: center;
    text-decoration: none;
    width: 16px;
}
.iceSelInpDateClosePopup {
    background-color: transparent;
    background-image: url("./css-images/cal_off.gif");
    background-repeat: no-repeat;
    border: medium none;
    display: inline;
    height: 16px;
    text-align: center;
    text-decoration: none;
    width: 16px;
}
.iceSelInpDateMonthYear, .iceSelInpDateTime {
    background-color: #EFEFEF;
    background-image: url("./css-images/table_col_header.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    font-weight: normal;
    padding: 4px 1px;
    text-align: center;
}
.iceSelInpDateTime {
    border-bottom: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
}
.iceSelInpDateMoYrDropdown, .iceSelInpDateTimeDropDown {
    background-color: #EFEFEF;
    font-weight: bold;
}
.iceSelInpDateMonthYear img {
    border: medium none;
}
.iceSelInpDateMovePrev {
    background-color: transparent;
    background-image: url("./css-images/cal_arrow_left.gif");
    background-repeat: no-repeat;
    border: medium none;
    display: inline;
    height: 16px;
    text-align: center;
    text-decoration: none;
    width: 17px;
}
.iceSelInpDateMoveNext {
    background-color: transparent;
    background-image: url("./css-images/cal_arrow_right.gif");
    background-repeat: no-repeat;
    border: medium none;
    display: inline;
    height: 16px;
    text-align: center;
    text-decoration: none;
    width: 17px;
}
.iceSelInpDateWeek, .iceSelInpDateWeekNumHdr {
    border-bottom: 1px solid #000000;
    color: #2A6CC2;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.iceSelInpDateWeekNum, .iceSelInpDateWeekNum-dis {
    background-color: #F5F5F5;
}
.iceSelInpDateDay, .iceSelInpDateCur, .iceSelInpDateWeekNum {
    padding: 3px;
    text-align: center;
}
.iceSelInpDateCur .iceOutTxt {
    color: #FFFFFF;
}
.iceSelInpDateDay a {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
.iceSelInpDateDay .iceOutTxt {
}
.iceSelInpDateCur a {
    background-color: #2A6CC2;
    border: 1px solid #2A6CC2;
    color: #FFFFFF;
    display: block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
.iceSelInpDateDay a:hover {
    color: #2A6CC2;
    text-decoration: none;
}
.iceDatTbl {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 10px;
}
.iceDatTbl table {
    border-collapse: collapse;
}
.iceDatTblColHdr, .iceDatTblColHdr1, .iceDatTblColHdr2, .iceDatTblColGrpHdrCol, .iceDatTblFtr {
    background-color: #EFEFEF;
    background-image: url("./css-images/table_col_header.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    font-weight: normal;
    padding: 4px 5px;
    text-align: center;
}
.iceDatTblResHdlr {
    background-color: transparent;
    border-width: 0;
    margin: 0;
    padding: 0;
    width: 2px;
}
.iceDatTblResBor {
    background-color: #EFEFEF;
    background-position: center bottom;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    width: 2px;
}
.iceDatTblBlkTd {
    background-color: #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
}
.iceDatTblRow1 {
    background-color: #FFFFFF;
}
.iceDatTblRow2 {
    background-color: #FFFFFF;
}
.iceDatTblCol, .iceDatTblCol1, .iceDatTblCol2 {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 3px 5px;
    text-align: left;
}
.iceDatTblHdr {
}
.iceDatTblFtr {
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid #CCCCCC;
}
.iceDatTblScrlSpr {
    background: url("./css-images/table_col_header.gif") repeat-x scroll left bottom #EFEFEF;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
.iceDatTblScrlSprFtr {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.iceDatTblScrlSprFtr .iceDatTblFtr {
    border-bottom: medium none;
}
.iceDatTblScrlSpr .iceDatTblColHdr1, .iceDatTblScrlSpr .iceDatTblColHdr2 {
    border-left-style: none;
    border-top-style: none;
}
.iceDatTblActvSrtHdr {
}
.iceDatTbl td span.iceOutTxt {
    display: block;
    overflow: hidden;
    padding: 2px 0;
}
.iceDatPgrScrOut {
    background-color: #FFFFFF;
    margin: 10px;
}
.iceDatPgrScrBtn {
    background-color: #FFFFFF;
    padding: 2px;
}
.iceDatPgrScrBtn .iceCmdLnk-dis {
    border-bottom: medium none;
}
.iceDatPgrTbl {
    background-color: #FFFFFF;
}
.iceDatPgrScrCol a, .iceDatPgrCol a {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #666666;
    display: block;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
* html .iceDatPgrCol a {
    width: 1%;
}
.iceDatPgrScrCol a {
    background-color: #2A6CC2;
    border: 1px solid #2A6CC2;
    color: #FFFFFF;
}
* html .iceDatPgrScrCol a {
    width: 1%;
}
.iceDatPgrCol a:hover {
    border: 1px solid #2A6CC2;
}
.fileTreeOutlineClass {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 10px;
}
.nodeClass {
    background-color: #FFFFFF;
    padding-left: 3px;
}
.footerClass {
    border-top: 1px solid #ABABAB;
    color: #666666;
    padding: 4px;
}
.treeTableHdrClass {
}
.icePnlTbOn {
}
.icePnlTbOn .MidMid td {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOn .LftTop {
    background-color: transparent;
    background-image: url("./css-images/on-left-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOn .MidTop {
    background-color: transparent;
    background-image: url("./css-images/on-mid-top.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOn .RtTop {
    background-color: transparent;
    background-image: url("./css-images/on-right-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOn .LftMid {
    background-color: transparent;
    background-image: url("./css-images/on-left-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOn .MidMid {
    background-color: transparent;
    background-image: url("./css-images/on-mid-mid.gif");
    background-repeat: repeat;
    border: medium none;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOn .MidMid a, .icePnlTbOn .MidMid div {
    cursor: pointer;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
}
.icePnlTbOn .MidMid div {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
* html .icePnlTbOn .MidMid a, * html .icePnlTbOn .MidMid div {
    width: 1%;
}
.icePnlTbOn .RtMid {
    background-color: transparent;
    background-image: url("./css-images/on-right-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOn .LftBtm {
    background-color: transparent;
    background-image: url("./css-images/on-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOn .MidBtm {
    background-color: transparent;
    background-image: url("./css-images/on-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOn .RtBtm {
    background-color: transparent;
    background-image: url("./css-images/on-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOff {
}
.icePnlTbOff .MidMid td {
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOff .LftTop {
    background-color: transparent;
    background-image: url("./css-images/off-left-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOff .MidTop {
    background-color: transparent;
    background-image: url("./css-images/off-mid-top.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOff .RtTop {
    background-color: transparent;
    background-image: url("./css-images/off-right-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOff .LftMid {
    background-color: transparent;
    background-image: url("./css-images/off-left-mid.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOff .MidMid {
    background-color: transparent;
    background-image: url("./css-images/off-mid-mid.gif");
    background-repeat: repeat-x;
    border: medium none;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOff .MidMid a, icePnlTbOff .MidMid div {
    cursor: pointer;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
}
* html .icePnlTbOff .MidMid a, * html .icePnlTbOff .MidMid div {
    width: 1%;
}
.icePnlTbOff .RtMid {
    background-color: transparent;
    background-image: url("./css-images/off-right-mid.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOff .LftBtm {
    background-color: transparent;
    background-image: url("./css-images/off-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOff .MidBtm {
    background-color: transparent;
    background-image: url("./css-images/off-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOff .RtBtm {
    background-color: transparent;
    background-image: url("./css-images/off-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOver {
}
.icePnlTbOver .MidMid td {
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOver .LftTop {
    background-color: transparent;
    background-image: url("./css-images/over-left-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOver .MidTop {
    background-color: transparent;
    background-image: url("./css-images/over-mid-top.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOver .RtTop {
    background-color: transparent;
    background-image: url("./css-images/over-right-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOver .LftMid {
    background-color: transparent;
    background-image: url("./css-images/over-left-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOver .MidMid {
    background-color: transparent;
    background-image: url("./css-images/over-mid-mid.gif");
    background-repeat: repeat;
    border: medium none;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOver .MidMid a, .icePnlTbOver .MidMid div {
    
    cursor: pointer;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
}
.icePnlTbOver .MidMid div {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
* html .icePnlTbOver .MidMid a, * html .icePnlTbOver .MidMid div {
    width: 1%;
}
.icePnlTbOver .RtMid {
    background-color: transparent;
    background-image: url("./css-images/over-right-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOver .LftBtm {
    background-color: transparent;
    background-image: url("./css-images/over-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOver .MidBtm {
    background-color: transparent;
    background-image: url("./css-images/over-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOver .RtBtm {
    background-color: transparent;
    background-image: url("./css-images/over-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbSetSpcr {
    border-bottom: 1px solid #ABABAB;
    width: 100%;
}
.icePnlTbSet {
    width: 100%;
}
.icePnlTbSetCnt {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    padding: 10px;
}
.icePnlTbSetCntBtm {
    background-color: #FFFFFF;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    padding: 10px;
}
.icePnlTbOnBtm {
}
.icePnlTbOnBtm .MidMid td {
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOnBtm .LftTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-on-left-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    text-align: center;
}
.icePnlTbOnBtm .MidTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-on-mid-top.gif");
    background-repeat: repeat-x;
    border: medium none;
    text-align: center;
}
.icePnlTbOnBtm .RtTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-on-right-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    text-align: center;
}
.icePnlTbOnBtm .LftMid {
    background-color: transparent;
    background-image: url("./css-images/on-left-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOnBtm .MidMid {
    background-color: transparent;
    background-image: url("./css-images/on-mid-mid.gif");
    background-repeat: repeat;
    border: medium none;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOnBtm .MidMid a, .icePnlTbOnBtm .MidMid div {
    
    cursor: pointer;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
}
* html .icePnlTbOnBtm .MidMid a, * html .icePnlTbOnBtm .MidMid div {
    width: 1%;
}
.icePnlTbOnBtm .RtMid {
    background-color: transparent;
    background-image: url("./css-images/on-right-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOnBtm .LftBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-on-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOnBtm .MidBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-on-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOnBtm .RtBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-on-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOffBtm {
}
.icePnlTbOffBtm .MidMid td {
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOffBtm .LftTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-off-left-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    text-align: center;
}
.icePnlTbOffBtm .MidTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-off-mid-top.gif");
    background-repeat: repeat-x;
    border: medium none;
    text-align: center;
}
.icePnlTbOffBtm .RtTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-off-right-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    text-align: center;
}
.icePnlTbOffBtm .LftMid {
    background-color: transparent;
    background-image: url("./css-images/off-left-mid.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOffBtm .MidMid {
    background-color: transparent;
    background-image: url("./css-images/off-mid-mid.gif");
    background-repeat: repeat-x;
    border: medium none;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOffBtm .MidMid a, .icePnlTbOffBtm .MidMid div {
    
    cursor: pointer;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
}
* html .icePnlTbOffBtm .MidMid a, * html .icePnlTbOffBtm .MidMid div {
    width: 1%;
}
.icePnlTbOffBtm .RtMid {
    background-color: transparent;
    background-image: url("./css-images/off-right-mid.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOffBtm .LftBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-off-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOffBtm .MidBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-off-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOffBtm .RtBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-off-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOverBtm {
}
.icePnlTbOverBtm .MidMid td {
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOverBtm .LftTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-over-left-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    text-align: center;
}
.icePnlTbOverBtm .MidTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-over-mid-top.gif");
    background-repeat: repeat-x;
    border: medium none;
    text-align: center;
}
.icePnlTbOverBtm .RtTop {
    background-color: transparent;
    background-image: url("./css-images/tbot-over-right-top.gif");
    background-repeat: no-repeat;
    border: medium none;
    text-align: center;
}
.icePnlTbOverBtm .LftMid {
    background-color: transparent;
    background-image: url("./css-images/over-left-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOverBtm .MidMid {
    background-color: transparent;
    background-image: url("./css-images/over-mid-mid.gif");
    background-repeat: repeat;
    border: medium none;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOverBtm .MidMid a, .icePnlTbOverBtm .MidMid div {
    
    cursor: pointer;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-decoration: none;
}
* html .icePnlTbOverBtm .MidMid a, * html .icePnlTbOverBtm .MidMid div {
    width: 1%;
}
.icePnlTbOverBtm .RtMid {
    background-color: transparent;
    background-image: url("./css-images/over-right-mid.gif");
    background-repeat: repeat-y;
    border: medium none;
    padding-top: 5px;
    text-align: center;
}
.icePnlTbOverBtm .LftBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-over-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOverBtm .MidBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-over-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbOverBtm .RtBtm {
    background-color: transparent;
    background-image: url("./css-images/tbot-over-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
    padding-bottom: 5px;
}
.icePnlTbSetSpcrBtm {
    border-top: 1px solid #ABABAB;
    width: 100%;
}
.icePnlTbSetBtm {
    background-color: #FFFFFF;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    padding: 10px;
}
.icePnlBrdrNorth {
    background-color: #FFFFFF;
    font-weight: bold;
    height: 80px;
    padding: 5px;
    text-align: center;
}
.icePnlBrdrEast {
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
    width: 10%;
}
.icePnlBrdrWest {
    background-color: #FFFFFF;
    vertical-align: top;
    width: 20%;
}
.icePnlBrdrCenter {
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
    width: 70%;
}
.icePnlBrdrSouth {
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #666666;
    padding: 4px;
}
.pageHdr {
    background-color: #CDCDCD;
    font-weight: bold;
    height: 80px;
    padding: 5px;
    text-align: center;
}
.icePnlBrdrStyle {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 10px;
    width: 97%;
}
.pageNavigation {
    background-color: #DEDEDE;
    padding: 5px;
    vertical-align: top;
    width: 20%;
}
.pageBody {
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
    width: 80%;
}
.pageFtr {
    border-top: 1px solid #ABABAB;
    color: #666666;
    padding: 4px;
}
.navFormOutline {
    background-color: #DEDEDE;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navItem, .navActvItem, .navOpenItem {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #CDCDCD;
    border-color: #CDCDCD #CDCDCD #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    display: block;
    padding: 3px 1px 3px 5px;
    text-decoration: none;
    width: 100%;
}
.navItem:hover, .navActvItem:hover, .navOpenItem:hover {
    background-color: #FFFFFF;
    border: 1px solid #2A6CC2;
    
}
.navOpenItem {
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}
.navActvItem {
    background-color: #2A6CC2;
    background-image: url("./css-images/cal_arrow_right.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 100%;
}
.navSeparator {
    background-color: #CDCDCD;
    border-bottom: 1px solid #DEDEDE;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.iceOutProg {
    margin: 10px;
}
.iceOutProgBg {
    border: 1px solid #ABABAB;
    height: 13px;
    width: 300px;
}
.iceOutProgFill {
    background-color: #026AFF;
    background-position: left top;
    background-repeat: repeat-x;
    display: block;
}
.iceOutProgTxt {
    color: black;
}
.iceSelInpTxtTxt {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 2px;
    padding: 2px;
}
.iceSelInpTxtList {
    border-color: #ABABAB #666666 #333333 #ABABAB;
    border-style: solid;
    border-width: 1px;
    display: block;
    position: absolute;
}
.iceSelInpTxtRow {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
    color: #333333;
    display: block;
    padding: 2px 2px 2px 10px;
    position: relative;
}
.iceSelInpTxtSelRow {
    background-color: #2A6CC2;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    padding: 2px 2px 2px 10px;
    position: relative;
}
.iceSelInpTxtSelRow span {
    color: #FFFFFF;
}
.iceSelInpTxtTxt-dis {
    border: 1px dotted #CCCCCC;
    color: #ABABAB;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.95em;
}
.iceInpFile {
    overflow: hidden;
}
.iceInpFileTxt {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    
    font-family: Arial,Helvetica,sans-serif;
    margin: 2px;
    padding: 2px;
}
.iceInpFileBtn {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    
    font-family: Arial,Helvetica,sans-serif;
    margin: 2px;
    padding: 2px;
}
.tablebg {
    background-color: #EEF3FB;
    border: 1px solid #6392C6;
    width: 70%;
}
.oddRow {
    background-color: #FFFFFF;
}
.evenRow {
    background-color: #EEF3FB;
}
.barCol1 {
    text-align: left;
    width: 40%;
}
.barCol2 {
    text-align: left;
    width: 15%;
}
.barCol3 {
    text-align: left;
    width: 20%;
}
.barCol4 {
    text-align: right;
    width: 15%;
}
.barCol5 {
    text-align: left;
    width: 15%;
}
.iceTreeRow {
    padding: 0;
    white-space: nowrap;
}
.iceTreeRow a {
    
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
}
.iceTreeRow a:hover {
    text-decoration: underline;
}
.iceTreeRow img {
    background-repeat: repeat-y;
    border: 0 none;
    padding: 0;
    vertical-align: top;
}
.iceTreeRow div {
    padding: 0;
}
.iceTreeRow a img {
    background-repeat: repeat-y;
    border: 0 none;
    padding: 0;
}
.iceMnuBar {
    padding: 0;
    white-space: nowrap;
}
.iceMnuBarItem {
    float: left;
    padding: 0;
    white-space: nowrap;
}
.iceMnuBarItem a {
    background-color: #DDDDDD;
    border-right: 1px solid #FFFFFF;
    color: #333333;
    display: block;
    float: left;
    font-size: 1.1em;
    height: auto;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
    width: auto;
}
.iceMnuBarItem a:hover {
    background-color: #2A6CC2;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.iceMnuBarItem hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999999 -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 1px;
    margin-top: 3px;
    padding: 0;
    text-align: left;
    width: 100%;
}
.iceMnuBarSubMenu {
    background-color: #EFEFEF;
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: auto;
    padding: 1px;
    position: absolute;
    width: 160px;
    z-index: 1000;
}
.iceMnuItm {
    display: block;
    height: auto;
    padding: 0;
}
.iceMnuItm a {
    color: #333333;
    display: block;
    padding: 3px;
    text-decoration: none;
}
.iceMnuItm a:hover {
    background-color: #2A6CC2;
}
.iceMnuItm a:hover .iceOutTxt, .iceMnuItm a:hover .iceMnuItmLabel {
    color: #FFFFFF;
}
.iceMnuItmLabel, .iceMnuBarItemLabel {
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    padding-top: 4px;
    vertical-align: middle;
}
.iceDatTbl td span.iceMnuItmLabel {
    display: inline;
    padding: 4px 0 0;
}
.iceMnuBarItemImage {
    width: 0;
}
.iceMnuItmImage, .iceMnuBarItemImage {
    display: inline;
    vertical-align: middle;
}
.iceMnuBarSubMenuInd {
    display: inline;
    float: right;
    padding-right: 1px;
    padding-top: 3px;
}
.iceMnuBarVrtItemLabel {
}
.iceMnuBarVrtItemImage {
    width: 5px;
}
.iceMnuBarVrt {
    float: left;
    padding: 0;
    white-space: nowrap;
}
.iceMnuBarVrtItem {
    display: block;
    width: 160px;
}
.iceMnuBarVrtItem a {
    background-color: #DDDDDD;
    border: 0 solid #FFFFFF;
    color: #333333;
    display: block;
    float: none;
    font-size: 1.1em;
    height: auto;
    margin-bottom: 1px;
    padding: 3px;
    text-decoration: none;
    width: 100%;
}
.iceMnuBarVrtItem a:hover {
    background-color: #2A6CC2;
    color: #FFFFFF;
    text-decoration: none;
}
.iceMnuBarVrtSubMenu {
    background-color: #EFEFEF;
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: auto;
    padding: 1px;
    position: absolute;
    width: 160px;
    z-index: 1000;
}
.iceMnuItmVrt a {
    background-color: #EFEFEF;
    color: #333333;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    padding: 3px;
    text-decoration: none;
    width: auto;
}
.iceMnuItmVrt a:hover {
    background-color: #2A6CC2;
    color: #FFFFFF;
    text-decoration: none;
}
.iceMnuBarVrtSubMenuInd {
    display: inline;
    float: right;
    padding-right: 1px;
    padding-top: 3px;
}
.iceMnuPopVrtItemLabel {
    vertical-align: middle;
}
.iceMnuPopVrtItemImage {
    vertical-align: middle;
    width: 19px;
}
.iceMnuPopVrt {
    border: 0 none;
    float: left;
    height: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 0;
}
.iceMnuPopVrtTopSubMenu {
    background-color: #EFEFEF;
    border: 1px solid #999999;
    display: block;
    height: auto;
    padding: 1px;
    position: absolute;
    width: 160px;
}
.iceMnuPopVrtItem {
    display: block;
    width: 160px;
}
.iceMnuPopVrtItem a {
    border: 0 solid #FFFFFF;
    color: #333333;
    display: block;
    float: none;
    font-size: 1.1em;
    height: auto;
    margin-bottom: 1px;
    padding: 3px;
    text-decoration: none;
}
.iceMnuPopVrtItem a:hover {
    background-color: #2A6CC2;
    color: #FFFFFF;
    text-decoration: none;
}
.iceMnuPopVrtSubMenu {
    background-color: #EFEFEF;
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: auto;
    padding: 1px;
    position: absolute;
    width: 160px;
}
.iceMnuPopVrtSubMenuInd {
    display: inline;
    float: right;
    padding-right: 1px;
    padding-top: 0;
}
.icePnlPop, .icePnlTlTip {
    background-color: #DDDDDD;
    border-color: #ABABAB;
    border-right: 2px solid #ABABAB;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #666666;
    padding: 0;
    z-index: 1000;
}
.icePnlPop .icePnlPopBody {
    background-color: #DDDDDD;
}
.icePnlPopHdr, .icePnlTlTipHdr {
    background-color: #DEDEDE;
    background-image: url("./css-images/window_top.gif");
    background-position: center top;
    background-repeat: repeat-x;
    height: 2em;
}
.icePnlPopHdr .iceOutTxt, .icePnlTlTipHdr .iceOutTxt {
    color: #FFFFFF;
    font-size: 1.1em;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
}
.icePnlPopBody, .icePnlTlTipBody {
    padding: 10px;
}
.icePnlPopFtr, .icePnlTlTipFtr {
    background-color: #DDDDDD;
    float: right;
    height: auto;
}
.iceOutProgIndetActv {
    background-color: #EFEFEF;
    background-image: url("css-images/in_progress.gif");
    background-position: center center;
    background-repeat: repeat-x;
}
.iceOutProgIndetInactv {
    background-color: #EFEFEF;
    background-image: url("css-images/in_progress_inactive.gif");
    background-position: center center;
    background-repeat: repeat-x;
}
.iceOutConStat {
    border: medium none;
    font-size: 0.5em;
    height: 25px;
    margin: 10px;
    width: 25px;
}
.iceOutConStatInactv {
    background-image: url("css-images/connect_idle.gif");
    background-position: center top;
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    width: 25px;
}
.iceOutConStatActv {
    background-image: url("css-images/connect_active.gif");
    background-position: center top;
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    width: 25px;
}
.iceOutConStatCaution {
    background-image: url("css-images/connect_caution.gif");
    background-position: center top;
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    width: 25px;
}
.iceOutConStatDisconnect {
    background-image: url("css-images/connect_disconnected.gif");
    background-position: center top;
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    width: 25px;
}
.iceCmdBtn-dis {
}
.iceCmdLnk-dis, .iceOutLnk-dis {
    border-bottom: 1px dotted #CCCCCC;
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.iceOutTxt-dis, .iceOutLbl-dis {
    border-bottom: 1px dotted #CCCCCC;
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.iceInpTxt-dis, .iceInpSecrt-dis {
    border: 1px dotted #CCCCCC;
    color: #ABABAB;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    margin: 2px;
    padding: 2px;
}
.iceInpTxtArea-dis {
    border: 1px dotted #CCCCCC;
    color: #ABABAB;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.95em;
    margin: 2px;
    padding: 2px;
}
.iceSelMnyCb-dis {
    background-color: #CCCCCC;
    border: medium none;
    color: #CCCCCC;
    cursor: default;
    margin: 2px;
    padding: 2px;
}
.iceSelOneMnu-dis, .iceSelMnyLb-dis, .iceSelMnyMnu-dis, .iceSelOneLb-dis {
    border: medium none;
    color: #CCCCCC;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.95em;
    padding: 2px;
}
.iceSelOneRb-dis {
    background-color: #CCCCCC;
    border: medium none;
    color: #444444;
    cursor: default;
    margin: 2px;
    padding: 2px;
}
.iceInpFileTxt-dis {
    background-color: #FFFFFF;
    border: medium none;
    color: #CCCCCC;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    margin: 2px;
    padding: 2px;
}
.iceInpFileBtn-dis {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    margin: 2px;
    padding: 2px;
}
.iceSubMenuRowLabel-dis {
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.iceSubMenuRow-dis {
    color: #ABABAB;
    cursor: default;
    display: block;
    height: auto;
    padding: 0;
    text-decoration: none;
}
.iceSubMenuRow-dis a {
    color: #333333;
    cursor: default;
    display: block;
    padding: 3px;
    text-decoration: none;
}
.iceSubMenuRow-dis a:hover {
    border-bottom: 1px dotted #CCCCCC;
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.icePnlTbOff {
}
.icePnlTbOff .LftTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    height: 4px;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOff .MidTop-dis {
    background-color: #DEDEDE;
    background-image: url("./css-images/off-mid-top-dis.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOff .RtTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOff .LftMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOff .MidMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    color: #ABABAB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOff .MidMid-dis a, .icePnlTbOff .MidMid-dis > div {
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.icePnlTbOff .RtMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOff .LftBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOff .MidBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOff .RtBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOffBtm .LftBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    height: 4px;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOffBtm .MidBtm-dis {
    background-color: #DEDEDE;
    background-image: url("./css-images/off-mid-top-dis.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOffBtm .RtBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOffBtm .LftMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOffBtm .MidMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    color: #ABABAB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOffBtm .MidMid-dis a, .icePnlTbOffBtm .MidMid-dis > div {
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.icePnlTbOffBtm .RtMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOffBtm .LftTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOffBtm .MidTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOffBtm .RtTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOnBtm .LftBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    height: 4px;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOnBtm .MidBtm-dis {
    background-color: #DEDEDE;
    background-image: url("./css-images/off-mid-top-dis.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOnBtm .RtBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOnBtm .LftMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOnBtm .MidMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    color: #ABABAB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOnBtm .MidMid-dis a, .icePnlTbOnBtm .MidMid-dis > div {
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.icePnlTbOnBtm .RtMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOnBtm .LftTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOnBtm .MidTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOnBtm .RtTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOn {
}
.icePnlTbOn .LftTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    height: 4px;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOn .MidTop-dis {
    background-color: #DEDEDE;
    background-image: url("./css-images/off-mid-top-dis.gif");
    background-repeat: repeat-x;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOn .RtTop-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-top-dis.gif");
    background-position: center bottom;
    background-repeat: no-repeat;
    border: medium none;
    padding-top: 1px;
    text-align: center;
}
.icePnlTbOn .LftMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOn .MidMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    color: #ABABAB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
}
.icePnlTbOn .MidMid-dis a, .icePnlTbOn .MidMid-dis > div {
    color: #ABABAB;
    cursor: default;
    text-decoration: none;
}
.icePnlTbOn .RtMid-dis {
    background-color: #DEDEDE;
    border: medium none;
    padding-top: 15px;
    text-align: center;
}
.icePnlTbOn .LftBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-left-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.icePnlTbOn .MidBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-mid-bot.gif");
    background-repeat: repeat-x;
    border: medium none;
}
.icePnlTbOn .RtBtm-dis {
    background-color: transparent;
    background-image: url("./css-images/off-right-bot.gif");
    background-repeat: no-repeat;
    border: medium none;
}
.sclBtnCell-dis {
    background-color: #FFFFFF;
    padding: 2px;
}
.sclBtnCell-dis img {
    cursor: default;
}
.icePaginatorTbl-dis {
    background-color: #FFFFFF;
}
.icePaginatorAtvCol-dis a, .icePaginatorCol-dis a {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #ABABAB;
    cursor: default;
    display: block;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
.icePaginatorAtvCol-dis a {
    color: #ABABAB;
    cursor: default;
}
.icePaginatorCol-dis a:hover {
}
.iceSelInpDate-dis {
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
}
.iceSelInpDateMonthYear-dis {
    background-color: #EFEFEF;
    color: #999999;
    font-weight: normal;
    padding: 4px 1px;
    text-align: center;
}
.iceSelInpDateMoYrDropdown-dis {
    background-color: #EFEFEF;
    color: #999999;
}
.iceSelInpDateMonthYear-dis img {
    cursor: default;
}
.iceSelInpDateWeek-dis, .iceSelInpDateWeekNumHdr-dis {
    background-color: #EFEFEF;
    border-bottom: 1px solid #ABABAB;
    color: #999999;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.iceSelInpDateDay-dis, .iceSelInpDateCur-dis, .iceSelInpDateWeekNum-dis {
    padding: 3px;
    text-align: center;
}
.iceSelInpDateDay-dis a {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #ABABAB;
    cursor: default;
    display: block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
.iceSelInpDateCur-dis a {
    background-color: #ABABAB;
    border: 1px solid #ABABAB;
    color: #FFFFFF;
    cursor: default;
    display: block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
.iceCmdSrtHdr {
    color: #333333;
    display: block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
.iceCmdSrtHdr table {
    display: inline;
}
.iceCmdSrtHdr-dis {
    color: #999999;
    cursor: default;
    display: block;
    height: 100%;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
.iceCmdSrtHdrAsc, .iceCmdSrtHdrDesc {
    background-position: center center;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
}
.iceCmdSrtHdrAsc {
    background-image: url("./css-images/column_sort_asc.gif");
}
.iceCmdSrtHdrDesc {
    background-image: url("./css-images/column_sort_desc.gif");
}
.iceCmdSrtHdr td {
    overflow: hidden;
    white-space: nowrap;
}
* html .iceCmdSrtHdr {
    height: 1%;
}
.iceFrm {
}
.iceGphImg {
}
.iceMsg {
}
.iceMsgFatal {
}
.iceMsgError {
}
.iceMsgWarn {
}
.iceMsgInfo {
}
.iceMsgs {
}
.iceMsgsFatal {
}
.iceMsgsError {
}
.iceMsgsWarn {
}
.iceMsgsInfo {
}
.icePnlGrd {
}
.icePnlGrdHdr {
}
.icePnlGrdFtr {
}
.icePnlGrdRow1 {
}
.icePnlGrdRow2 {
}
.icePnlGrdCol1 {
}
.icePnlGrdCol2 {
}
.icePnlGrp {
}
.iceOutFrmt {
}
.iceTree {
}
.iceTreeRow {
}
.icePnlSrs {
}
.icePnlPos {
}
.icePnlPos-dis {
}
.icePnlStk {
}
.icePnlStkRow {
}
.icePnlStkCol {
}
.icePnlTbSetHdrIconLft {
    height: 13px;
    width: 14px;
}
.icePnlTbSetHdrIconRt {
    height: 13px;
    width: 14px;
}
.icePnlTbSetHdrLbl {
    padding-bottom: 2px;
    padding-top: 2px;
    white-space: nowrap;
}
.iceRowSelSelected {
    background-color: #316AC5;
}
.iceRowSelSelected span {
    color: #FFFFFF;
}
.iceRowSelSelectedMouseOver {
    background-color: #0D4092;
}
.iceRowSelSelectedMouseOver span {
    color: #FFFFFF;
}
.iceRowSelMouseOver {
    background-color: #B2CDF9;
}
.iceRowSelMouseOver span {
    
}
.iceOutChrt {
}
.icePnlClpsbl, .icePnlClpsblHdr, .icePnlClpsblCnt {
}
.icePnlClpsblColpsd, .icePnlClpsblColpsdHdr, .icePnlClpsblColpsdCnt {
}
.icePnlClpsbl-dis, .icePnlClpsblHdr-dis, .icePnlClpsblCnt-dis {
}
.icePnlClpsblColpsd-dis, .icePnlClpsblColpsdHdr-dis, .icePnlClpsblColpsdCnt-dis {
}
.icePnlClpsblHdr, .icePnlClpsblColpsdHdr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EFEFEF;
    background-image: url("./css-images/table_col_header.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    
    cursor: pointer;
    font-weight: bold;
    padding: 4px 5px 4px 2px;
    text-align: left;
}
.icePnlClpsblHdr .iceOutTxt, .icePnlClpsblColpsdHdr .iceOutTxt {
    
}
.icePnlClpsblCnt, .icePnlClpsblColpsdCnt, .icePnlClpsblColpsdCnt-dis, .icePnlClpsblCnt-dis {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EFEFEF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    
    padding-left: 5px;
    padding-right: 5px;
}
.icePnlClpsblHdr-dis, .icePnlClpsblColpsdHdr-dis {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("./css-images/table_col_header_dis.gif") repeat-x scroll center bottom #EFEFEF;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #999999;
    cursor: default;
    font-weight: bold;
    padding: 4px 5px 4px 2px;
    text-align: left;
}
.icePnlClpsblHdr-dis .iceOutTxt, .icePnlClpsblColpsdHdr-dis .iceOutTxt {
    color: #999999;
}
.icePnlClpsblColpsdCnt-dis, .icePnlClpsblCnt-dis, .icePnlClpsblColpsdCnt-dis .iceOutTxt, .icePnlClpsblCnt-dis .iceOutTxt {
    color: #999999;
}
.icePnlClpsblHdr img, .icePnlClpsblColpsdHdr img {
    border: 0 none;
}
.iceGmp {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}
.iceGmpMapTd {
    vertical-align: top;
}
.iceGmpMapTd div.gmap {
    height: 300px;
    width: 300px;
}
.iceInpRchTxt {
    width: 100%;
}
.icePnlDvr, .icePnlDvrHor {
    height: 300px;
    width: 300px;
}
.icePnlDvrCnt, .icePnlDvrHorCnt {
    border: 1px solid #ABABAB;
    height: 100%;
}
.icePnlDvrFst, .icePnlDvrSnd {
    display: block;
    float: left;
    height: 100%;
    overflow: auto;
}
.icePnlDvrSpt {
    background-color: #EFEFEF;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
    cursor: e-resize;
    display: inline;
    float: left;
    height: 100%;
    width: 2px;
}
.icePnlDvrHorFst, .icePnlDvrHorSnd {
    display: block;
    overflow: auto;
    width: 100%;
}
.icePnlDvrHorSpt {
    background-color: #EFEFEF;
    border-bottom: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    cursor: n-resize;
    height: 2px;
    width: 100%;
}
.icePnlCnf {
    background-color: #DDDDDD;
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    
    font-family: Arial,Helvetica,sans-serif;
    padding: 0;
    width: 300px;
    z-index: 1000;
}
.icePnlCnfHdr {
    background-color: #DEDEDE;
    background-image: url("./css-images/window_top.gif");
    background-position: center top;
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    height: auto;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
}
.icePnlCnfBody {
    background-color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    padding: 10px 10px 5px;
}
.icePnlCnfBtns {
    background-color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    padding: 5px 10px 10px;
    text-align: center;
}
.icePnlCnfBtns input {
    margin: 0 20px;
}
.iceDatExp img {
    border: medium none;
}
.iceDatExp input {
    font-family: Arial,Helvetica,sans-serif;
}
.icePnlTbLblLnk img {
    border: 0 none;
}
.iceHdnLnk {
    border: medium none;
    float: left;
    margin: 0;
}
.iceHdnLnk img {
    border: 0 none;
    width: 0;
}
